<MudItem>
	<MudPaper>
		<h5>Argue The Call</h5>
        
		@for (var i = 5; i <= 6; i++)
		{
			var roll = i;
			<MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="@(() => AddAction(roll))">@(roll)+</MudButton>
		}
	</MudPaper>
</MudItem>

@code
{
	[Parameter]
	public EventCallback<Action> OnAddAction { get; set; }
	
	private void AddAction(int roll)
	{
		OnAddAction.InvokeAsync(new Models.Actions.ArgueTheCall(roll));
	}
}