<MudItem>
    <MudPaper>
        <h5>Armour Break</h5>
        
        <MudNumericField T="int" Min="2" Max="11" @bind="_minimumRoll"/>
        <MudButton OnClick="@(AddAction)">Add</MudButton>
    </MudPaper>
</MudItem>

@code
{
    private int _minimumRoll = 9;
        
    [Parameter]
    public EventCallback<Action> OnAddAction { get; set; }
    
    private void AddAction()
    {
        OnAddAction.InvokeAsync(new Models.Actions.ArmourBreak(_minimumRoll));
    }
}