<MudItem>
    <MudPaper>
        <h5>Armour <u>B</u>reak</h5>
        
        <MudNumericField T="int" Min="2" Max="11" @bind-Value="_roll"/>
        <MudButton Variant="Variant.Outlined" OnClick="@(AddAction)">Add</MudButton>
    </MudPaper>
</MudItem>

@code
{
    private int _roll = 9;
        
    [Parameter]
    public EventCallback<Action> OnAddAction { get; set; }
    
    private void AddAction()
    {
        OnAddAction.InvokeAsync(new Models.Actions.ArmourBreak(_roll));
    }
}