<MudItem>
    <MudPaper>
        <h5>Bribe</h5>

        <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="AddAction">Add</MudButton>
    </MudPaper>
</MudItem>

@code {
    
    [Parameter]
    public EventCallback<Action> OnAddAction { get; set; }
    
    private void AddAction()
    {
        OnAddAction.InvokeAsync(new Models.Actions.Bribe());
    }

}
