<MudItem>
    <MudPaper>
        <h5>Brib<u>e</u></h5>

        <MudButton Variant="Variant.Outlined" OnClick="AddAction">2+</MudButton>
    </MudPaper>
</MudItem>

@code {
    
    [Parameter]
    public EventCallback<Action> OnAddAction { get; set; }
    
    private void AddAction()
    {
        OnAddAction.InvokeAsync(new Models.Actions.Bribe());
    }

}
