<MudItem>
    <MudPaper>
        <h5>Hail Mary Pass</h5>
        
        @for (var i = 2; i <= 6; i++)
        {
            var roll = i;
            <MudButton OnClick="@(() => AddAction(roll))">@(roll)+</MudButton>
        }
    </MudPaper>
</MudItem>

@code {
    private IActionParser? _actionBuilder;
        
    [Parameter]
    public EventCallback<Action> OnAddAction { get; set; }

    [Inject]
    protected IActionParserFactory ActionParserFactory { get; set; } = null!;

    private void AddAction(int roll)
    {
        _actionBuilder ??= ActionParserFactory.GetActionParser(ActionType.HailMaryPass);

        OnAddAction.InvokeAsync(_actionBuilder.Parse(roll.ToString()));
    }
}