<MudItem>
    <MudPaper>
        <h5>In<u style="text-decoration-skip-ink:none">j</u>ury</h5>
        
        <MudNumericField T="int" Min="2" Max="10" @bind-Value="_roll"/>
        <MudButton Variant="Variant.Outlined" OnClick="AddAction">Add</MudButton>
    </MudPaper>
</MudItem>

@code {
    private int _roll = 8;

    [Parameter]
    public EventCallback<Action> OnAddAction { get; set; }

    private void AddAction()
    {
        OnAddAction.InvokeAsync(new Models.Actions.Injury(_roll));
    }
}