<MudItem>
    <MudPaper>
        <h5><u>I</u>nterference</h5>
        
        @for (var i = 2; i <= 6; i++)
        {
            var roll = i;
            <MudButton Variant="Variant.Outlined" OnClick="@(() => AddAction(roll))">@(roll)+</MudButton>
        }
    </MudPaper>
</MudItem>

@code {

    [Parameter]
    public EventCallback<Action> OnAddAction { get; set; }

    private void AddAction(int roll)
    {
        OnAddAction.InvokeAsync(new Models.Actions.Interference(roll));
    }

}