<MudItem>
    <MudPaper>
        <h5>Landing</h5>
        
        <MudNumericField T="int" Min="1" Max="6" @bind-Value="_roll"/>
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="AddAction">Add</MudButton>
    </MudPaper>
</MudItem>

@code {
    private int _roll = 5;

    [Parameter]
    public EventCallback<Action> OnAddAction { get; set; }

    private void AddAction()
    {
        OnAddAction.InvokeAsync(new Models.Actions.Landing(_roll, false));
    }
}