<MudItem>
    <MudPaper>
        <h5>Non-IsRerollable</h5>

        <MudButton>2+</MudButton>
        <MudButton>3+</MudButton>
        <MudButton>4+</MudButton>
        <MudButton>5+</MudButton>
        <MudButton>6+</MudButton>
    </MudPaper>
</MudItem>

@code {

}