<MudItem>
    <MudPaper>
        <h5>Rerollable</h5>
        
        @for (var i = 2; i <= 6; i++)
        {
            var roll = i;
            <MudButton OnClick="@(() => AddAction(roll))">@(roll)+</MudButton>
        }
    </MudPaper>
</MudItem>