<MudItem>
    <MudPaper>
        <h5>T<u>h</u>row Teammate</h5>
        
        <MudNumericField T="int" Min="1" Max="6" @bind-Value="_passingAbility" Label="PA" Disabled="Disabled"/>
        <MudNumericField T="int" Min="-5" Max="5" @bind-Value="_modifier" Label="Modifier" Disabled="Disabled"/>
        <MudButton Variant="Variant.Outlined" OnClick="AddAction" Disabled="Disabled">Add</MudButton>
    </MudPaper>
</MudItem>

@code {
    private int _passingAbility = 3;
    private int _modifier;
    
    [Parameter]
    public EventCallback<Action> OnAddAction { get; set; }
    
    [Parameter]
    public bool Disabled { get; set; }

    private void AddAction()
    {
        OnAddAction.InvokeAsync(new Models.Actions.ThrowTeammate(_passingAbility, _modifier, false, true));
    }
}