@using ActionCalculator.Utilities
@using System.Text
@using System.Text.RegularExpressions

<MudItem>
    <MudPaper>
        <h6>Player @(PlayerNumber)</h6>
        <MudText Class="player-skills">@($"Skills: {Player.Description()}")</MudText>
    </MudPaper>
</MudItem>

@code
{
    [Parameter]
    public Player Player { get; set; } = null!;

    [Parameter]
    public int PlayerNumber { get; set; }  
}
