@{
    var results = Calculation.PlayerActions.Any() ? ActionMediator.Calculate(Calculation) : Array.Empty<decimal>();
}

@if (results.Any())
{
    <MudPaper>
        <table>
            <tr>
                <th>Rerolls</th>
                <th>Success</th>
            </tr>
    
            @{
                var i = 0;
            }

            @foreach (var result in results)
            {
                <tr>
                    <td>@i.ToString()</td>
                    <td>@result.ToString("0.00000")</td>
                </tr>

                i++;
            }
        </table>
    </MudPaper>
}


@code {

    [Parameter]
    public Calculation Calculation { get; set; } = null!;

    [Inject]
    public IActionMediator ActionMediator { get; set; } = null!;

}
