@page "/about"

<PageTitle>About</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">
    <h2 style="margin-top: 10px; margin-bottom: 10px;">About</h2>
    
    <p>Hi! I am Dave and I play Blood Bowl!</p>
    <p>
        I decided to build a Blood Bowl calculator for the Blood Bowl 2020 rules in advance of Blood Bowl 3 coming out.
        It took a lot longer than I thought it would, but I found it really interesting and an opportunity to learn some new things.
    </p>
    <p>
        I stream my games on twitch and I am an admin in the <a href="https://rebbl.net/" target="_blank">REBBL rookie league</a>, which is the best place to learn Blood Bowl.
    </p>
    <p>
        If you want to ask me any questions, you can hit me up on discord.
    </p>

</MudContainer>