@page "/"

<PageTitle>Dave's Action Calculator</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">
    <h2 style="margin-top: 10px;">Dave's Action Calculator</h2>

    <PlayerEditor 
        CurrentPlayer="CurrentPlayer" 
        OnPlayerChanged="PlayerChanged" 
        OnNewPlayer="NewPlayer"
        PlayerNumber="PlayerNumber()"/>
    <MudDivider Style="Margin:10px 0 10px 0" DividerType="DividerType.Middle"/>

    <ActionsContainer 
        OnAddAction="AddAction" 
        Calculation="_calculations[0]"/>
    
    <CalculationSummary 
        Calculation="_calculations[0]" 
        CurrentPlayerId="CurrentPlayer.Id"
        RemoveAction="RemoveAction"
        OnToggleBreakTackle="ToggleBreakTackle"
        OnToggleDivingTackle="ToggleDivingTackle"
        OnToggleBrawler="ToggleBrawler"
        OnTogglePro="TogglePro"
        OnToggleRerollInaccurate="ToggleRerollInaccurate"
        OnToggleRerollFailure="ToggleRerollFailure"
        OnSuccessesChanged="SuccessesChanged"
        OnEditPlayer="EditPlayer"/>

    <MudDivider Style="Margin:10px 0 10px 0" DividerType="DividerType.Middle"/>
    
    @if (_calculations.Any(x => CalculationValidator.Validate(x).IsValid))
    {
        <h4>Results</h4>
    }

    <MudGrid Spacing="1">
        @for (var i = 0; i < _calculations.Count; i++)
        {
            <CalculationResults
                Calculation="_calculations[i]"
                CalculationIndex="i" 
                Results="GetResults(_calculations[i]).ToList()"
                OnSaveCalculation="SaveCalculation"
                OnRerollsChanged="RerollsChanged"
                OnClearCalculation="ClearCalculation"
                OnEditCalculation="EditCalculation"/>
        }
    </MudGrid>
</MudContainer>