@page "/"

<PageTitle>Dave's Action Calculator</PageTitle>

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
    <h1>Dave's Action Calculator</h1>
    <Player/>
    <MudDivider Style="Margin:10px 0 10px 0" DividerType="DividerType.Middle"/>
    <ActionsContainer/>
</MudContainer>