@page "/"

<PageTitle>Dave's Action Calculator</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">
    <h1>Dave's Action Calculator</h1>
    <Player CurrentPlayer="_currentPlayer" OnPlayerChanged="OnPlayerChanged" />
    <MudDivider Style="Margin:10px 0 10px 0" DividerType="DividerType.Middle"/>
    <ActionsContainer OnAddAction="@AddAction"/>
    <MudInputString Value="@_currentPlayer.Id.ToString()"></MudInputString>
    <MudInputString Value="@_currentPlayer.BreakTackleValue.ToString()"></MudInputString>
</MudContainer>