@page "/"

<PageTitle>Dave's Action Calculator</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">
    <h1>Dave's Action Calculator</h1>
    <PlayerEditor 
        CurrentPlayer="CurrentPlayer" 
        OnPlayerChanged="PlayerChanged" 
        OnNewPlayer="NewPlayer"
        PlayerNumber="PlayerNumber()"/>
    <MudDivider Style="Margin:10px 0 10px 0" DividerType="DividerType.Middle"/>
    <ActionsContainer OnAddAction="AddAction" DisableAllButBlock="@DisableAllButBlock()"/>
    
    <CalculationSummary 
        Calculation="_calculations[0]" 
        RemoveAction="RemoveAction"
        OnToggleBreakTackle="ToggleBreakTackle"
        OnToggleDivingTackle="ToggleDivingTackle"
        OnToggleBrawler="ToggleBrawler"
        OnTogglePro="TogglePro"
        OnToggleRerollInaccurate="ToggleRerollInaccurate"
        OnToggleRerollFailure="ToggleRerollFailure"/>

    <MudDivider Style="Margin:10px 0 10px 0" DividerType="DividerType.Middle"/>
    
    <MudGrid Spacing="1">
        
        @for (var i = 0; i < _calculations.Count; i++)
        {
            <CalculationResults
                Calculation="_calculations[i]"
                CalculationIndex="i" 
                Results="GetResults(_calculations[i]).ToList()"
                OnSaveCalculation="SaveCalculation"
                OnRerollsChanged="RerollsChanged"
                OnClearCalculation="ClearCalculation"
                OnEditCalculation="EditCalculation"/>
        }

    </MudGrid>
</MudContainer>