@page "/"

<PageTitle>Dave's Action Calculator</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">
    <h1>Dave's Action Calculator</h1>
    <PlayerEditor CurrentPlayer="_currentPlayer" OnPlayerChanged="PlayerChanged" PlayerNumber="PlayerNumber()" />
    <MudDivider Style="Margin:10px 0 10px 0" DividerType="DividerType.Middle"/>
    <ActionsContainer OnAddAction="AddAction" DisableAllButBlock="@DisableAllButBlock()"/>
    
    <CalculationContainer 
        Calculation="_calculation" 
        CalculationChanged="CalculationChanged" 
        RemoveAction="RemoveAction"
        OnToggleBreakTackle="ToggleBreakTackle"
        OnToggleDivingTackle="ToggleDivingTackle"
        OnToggleBrawler="ToggleBrawler"
        OnTogglePro="TogglePro"
        OnToggleRerollInaccurate="ToggleRerollInaccurate"
        OnToggleRerollFailure="ToggleRerollFailure"/>

    <MudDivider Style="Margin:10px 0 10px 0" DividerType="DividerType.Middle"/>
    <Results Calculation="_calculation" />
</MudContainer>