@using ActionCalculator.Utilities
@using System.Text

<MudItem>
    <MudPaper>
        <h6>Player @(PlayerNumber)</h6>
        <MudText>@($"Skills: {SkillsString()}")</MudText>
    </MudPaper>
</MudItem>

@code
{
    [Parameter]
    public Models.Player Player { get; set; } = null!;

    [Parameter]
    public int PlayerNumber { get; set; }

    private string SkillsString()
    {
        if (Player.Skills == Skills.None)
        {
            return "None";
        }

        var sb = new StringBuilder();

        foreach (var skill in Player.Skills.ToEnumerable(Skills.None))
        {
            sb.Append($"{skill}{GetSkillValue(skill)}, ");
        }

        return sb.Remove(sb.Length - 2, 2).ToString();
    }

    private string GetSkillValue(Skills skill) => skill switch
    {
        Skills.Loner => " " + Player.LonerValue,
        Skills.BreakTackle => " " + Player.BreakTackleValue,
        Skills.DirtyPlayer => " " + Player.DirtyPlayerValue,
        Skills.MightyBlow => " " + Player.MightyBlowValue,
        _ => ""
    };
}
